*, *::after, *::before{
    box-sizing: border-box; 
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  width: 960px;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
    background-color:white;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 960px;
    height: 550px;
    padding: 10px;
    border: 1px; 
    margin: 72px;
    padding: 30px;
}


body {
    background-image: url("https://images.unsplash.com/photo-1564862083038-9f45677eb2a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"); 
    background-color: navajowhite; 
    background-attachment: fixed;
}


h1 {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    position: static;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px 24px;
    overflow: hidden;
    background-color: #1f7a1f;
    width: 100%;
}

 ul {
    position: fixed;
    top: 0;
    width: 100%;
} 


li {
    display: inline; 
    color: white;
}


li a:hover {
background-color: #ff6600;
}

li a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    color: #e6e6e6;
    float: right;
    border-right: 1px solid #bbb;
    text-decoration: none;
    margin: 4px;
    padding: 4px;
}

.khadijah {
    font-weight: bolder;
    text-size-adjust: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e6e6e6; 
    border-style: solid;
    border-color: pink;
    background-color:pink;
    padding: 10px;
    margin: 10px;
    align-items: stretch; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background-color: #1f7a1f;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 8px solid teal;
}

input {
    width: 770px;
    margin: 15px 0px;
    flex-direction: column;
}

input [type=submit]:hover {
    background-color: teal;
}

label, input {
    display: block;
}

input[type=submit] {
background-color: teal;
color: white;
border:none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
cursor: pointer;
border-radius: 4px;
}

.container2 {
    margin: 0 auto;
    margin-top: 50px;
    width: 960px;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


a:hover {
    color: pink;

}

a:link {
    color: pink;
}

 
@media screen and (max-width:980px){
.main {
 background-color: pink;
 font: 1.75rem;
 line-height: 1.5}
}

@media screen and (max-width:768px){
.main{
 background-color: plum;
 font: 1.50rem;
 line-height: 1.5}

}

@media screen and (max-width:640px) {
.main {
 background-color: salmon;
 font: 1.25rem;
 line-height: 1.5;}

}